<ion-content>
  <div class="botonR">
    <ion-button expand="block" routerLink="/tabs/tab1">←</ion-button>
  </div>

  <div class="logo">
    <img src="assets\Login\LOGO.png" height="120px" width="120px" alt="Logo AeroBUY">
  </div>

  <div class="recuperarCuenta">
    <h1>Recuperar Cuenta</h1>
  </div>

  <div class="correo">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </div>

  <div class="cel">
    <ion-item>
      <ion-label position="floating">Teléfono Celular</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
  </div>

  <div class="boton">
    <ion-button expand="block" routerLink="/tabs/tab4">RECUPERAR CUENTA</ion-button>
  </div>

</ion-content>