<ion-content>

  <div class="logo">
    <img src="assets\Login\LOGO.png" height="120px" width="120px" alt="Logo AeroBUY">
  </div>

  <div class="recuperarCuenta">
    <h1>Recuperar Cuenta</h1>
  </div>

  <div class="contra">
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </div>

  <div class="confContra">
    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </div>

  <div class="boton">
    <ion-button expand="block" routerLink="/tabs/tab6">CAMBIAR CONTRASEÑA</ion-button>
  </div>

</ion-content>