<ion-content>

  <div style="padding-left:100px; display: flex; justify-content: space-between;">
    <div class="logo" style="padding-left: 84px;">
       <img src="assets/Login/LOGO.png" height="40px" width="40px" alt="Logo AeroBUY">
    </div>
 </div>


  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="cuenta">
        <ion-item href="#">
          <ion-icon slot="start" name="person-outline" color="#782478" style="margin-right: 15px"></ion-icon>
          Mi Cuenta
        </ion-item>
      </div>

      <div class="pase">
        <ion-item href="#">
          <ion-icon slot="start" name="airplane-outline" color="#782478" style="margin-right: 15px"></ion-icon>
          Pase de Abordar
        </ion-item>
      </div>

      <div class="contacto">
        <ion-item href="#">
          <ion-icon slot="start" name="call-outline" color="#782478" style="margin-right: 15px"></ion-icon>
          Contacto
        </ion-item>
      </div>

      <div class="Acerca de">
        <ion-item href="#">
          <ion-icon slot="start" name="information-outline" color="#782478" style="margin-right: 15px"></ion-icon>
          Acerca de
        </ion-item>
      </div>

      <div class="Cerrar Sesion">
        <ion-item routerLink="/tabs/tab1">
          <ion-icon slot="start" name="log-out-outline" color="#782478" style="margin-right: 15px"></ion-icon>
          Cerrar Sesión
        </ion-item>
      </div>

    </ion-content>
  </ion-menu>
  
  <div class="ion-page" id="main-content">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar> 
  </div>


  <div class="aero">
    <h1>Acerca de</h1>

  </div>
  <div class="acerca">
    <h2>Información General</h2>
    <p>Version: Aerobuy 1.0 beta-version</p>
    <p>Autores: <br>Cervantes Rubio Miguel Gerardo<br>Clemente Lopez Johana<br>Gallardo Mitchel Jesus Ricardo
      <br>Gutierrez Corona Alfredo<br>Nicols Ruvalcaba Valeria<br>Apoyo especial de: Jorge Alberto Lara Beltran</p>
  </div>