<ion-content>

  <div class="logo">
    <img src="assets\Login\LOGO.png" height="120px" width="120px" alt="Logo AeroBUY">
  </div>

  <div class="recuperarCuenta">
    <h1>Recuperar Cuenta</h1>
  </div>

<div class="texto">
  <h1>
    Ingrese el código de recuperación enviado a su celular
  </h1>
</div>

  <div class="codigoR">
    <ion-item>
      <ion-label position="floating">Código de Recuperación</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
  </div>

  <div class="boton">
    <ion-button expand="block" routerLink="/tabs/tab5">RECUPERAR CUENTA</ion-button>
  </div>

</ion-content>